a {
	color: #3da4ff;
	text-decoration: none;
}

.ng-leave {
	animation: scaleOut 0.2s both ease-in-out;
}

.ng-enter {
	animation: scaleIn 0.3s both ease-in-out;
	animation-delay: 0.21s;
}

@keyframes scaleIn {
	from {
		opacity: 0.0;
		transform: scale(0.9);
	}
}

@keyframes scaleOut {
	to {
		opacity: 0.0;
	}
}

.fancy-scroll-bar::-webkit-scrollbar {
	height: 10px;
}

/* Track */

.fancy-scroll-bar::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */

.fancy-scroll-bar::-webkit-scrollbar-thumb {
	background: rgb(255,255,255,0.5);
}

/* Handle on hover */

.fancy-scroll-bar::-webkit-scrollbar-thumb:hover {
	background: rgb(255,255,255,0.8);
}