<style>
    h1,
    h2,
    p,
    md-card {
        color: #fff;
    }

    h2 {
        margin-bottom: 10px;
    }

    md-card {
        padding: 16px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        background-color: #1a2123;
    }
</style>
<div layout="row" style="padding-top: 10px;">
    <div flex></div>
    <div style="width: 90%; max-width: 1280px;">
        <!-- Header -->
        <div layout="row">
            <div flex></div>
            <div class="mdc-typography">
                <h1 id="homeHeader" class="md-display-2" style="color: #CACACA; margin-top: 0px; margin-bottom: 15px;">About LaunchHub</h1>
            </div>

            <div flex></div>
        </div>
        <md-divider style="border-top-color: #C4C4C4; margin-bottom: 15px;"></md-divider>
        <!-- End Header -->

        <div>
            <!-- Overview -->
            <h1 class="md-display-2" style="color: #fff; margin-top: 0px; margin-bottom: 13px;">Project Overview</h1>
            <md-divider style="border-top-color: #555555; margin-bottom: 15px;"></md-divider>
            <p>LaunchHub is a centralized source to receive information on recent and future rocket launches all around the
                world, aggregating location and weather data for each.</p>
            <br>

            <!-- APIs Used -->
            <h2 class="md-headline">APIs Used</h2>
            <md-divider style="border-top-color: #555555; margin-bottom: 15px;"></md-divider>
            <p>Below are the APIs we used when building this application.</p>
            <br>
            <div ng-repeat="api in apis">
                <h2 class="md-title">{{ api.name }} [<a class="md-subhead" href="{{ api.link }}" target="_blank">Documentation</a>]</h2>
                <p>{{ api.description }}</p>
                <br>
            </div>

            <!-- Technologies Used -->
            <h2 class="md-headline">Technologies Used</h2>
            <md-divider style="border-top-color: #555555; margin-bottom: 15px;"></md-divider>
            <p>To accomplish this project, we are using multiple APIs and technologies to perform all the necessary requirements.</p>
            <br>
            <div ng-repeat="technology in technologies">
                <h2 class="md-title">{{ technology.type }}: {{ technology.name }} [<a class="md-subhead" href="{{ technology.link }}" target="_blank">Documentation</a>]</h2>
                <p>{{ technology.description }}</p>
                <br>
            </div>
        </div>
        <div>
            <h1 class="md-display-2" style="color: #fff; margin-top: 0px; margin-bottom: 13px;">Developers</h1>
            <md-divider style="border-top-color: #555555; margin-bottom: 15px;"></md-divider>
            <md-card ng-repeat="dev in devs" class="md-whiteframe-0dp">
                <div layout="row">
                    <img ng-if="dev.githubUsername.length > 0" style="width: 10%; height: 10%; margin-right: 2%" src="https://github.com/{{ dev.githubUsername }}.png">
                    <div flex>
                        <h2 class="md-headline" style="margin-top: 0px;">{{ dev.name }}</h2>
                        <md-divider style="border-top-color: #555555; margin-bottom: 15px;"></md-divider>
                        <span>{{ dev.description }}</span>
                        <div ng-if="dev.githubUsername.length > 0">
                            <p style="margin-bottom: 0%">
                                <a ng-href="https://github.com/{{ dev.githubUsername }}" target="_blank">{{ dev.githubUsername }} on GitHub</a>
                            </p>
                        </div>
                    </div>
                </div>
            </md-card>
        </div>
    </div>
    <div flex></div>
</div>