<div layout="row" style="padding-top: 10px;">
    <div flex></div>
    <div style="width: 90%; max-width: 1280px;">
        <md-card id="welcomeCard" style="padding: 16px;margin-left: 0px;margin-right: 0px;background-color: #1a2123;color:white;"
            ng-if="future">
            <div layout="row">
                <span class="md-headline">Welcome!</span>
                <div flex></div>
                <md-button onclick="$('#welcomeCard').hide(); Cookies.set('previouslyVisited', 'true');" style="min-width: 0px; width: 36px; padding: 0px; margin: 0px;">
                    <md-icon md-font-set="material-icons" style="color: #FFF; font-size: 28px; margin-bottom: 10%; margin-right: 10%;">
                        close </md-icon>
                </md-button>
            </div>
            <h5 class="md-subhead">LaunchHub is a centralized source to receive information on recent and future rocket launches all around the
                world, aggregating location and weather data for each.</h5>
            <span>
                <a href="#!/about">About</a> |
                <a href="https://github.com/SoarinFerret/ISQA-4380FinalProject/" target="_blank">View on Github</a>
            </span>
        </md-card>
        <div layout="row">
            <div style="width: 220px;">
                <md-progress-circular id="loader" class="md-accent md-hue-2" md-mode="indeterminate" md-diameter="32" style="margin-top: 10%; margin-left: 5%;"></md-progress-circular>
            </div>
            <div flex></div>
            <div class="mdc-typography">
                <h1 id="homeHeader" class="md-display-2" style="color: #CACACA; margin-top: 0px; margin-bottom: 15px;" ng-if="future">Upcoming Launches</h1>
                <h1 id="homeHeader" class="md-display-2" style="color: #CACACA; margin-top: 0px; margin-bottom: 15px;" ng-if="future == false">Recent Launches</h1>
            </div>
            <div flex></div>
            <style>
            .view-switch-buttons::after {
                background-color: white;
            }
            </style>
            <a class="mdc-button mdc-theme--secondary view-switch-buttons" style="color: black; margin-top: 20px;margin-right: 0px;" ng-href="#!/recentlaunches" ng-if="future">View Recent Launches</a>
            <a class="mdc-button mdc-theme--secondary view-switch-buttons" style="margin-top: 20px;margin-right: 0px;" ng-href="#!/upcoming" ng-if="future == false">View Upcoming Launches</a>
        </div>
        <md-divider style="border-top-color: #E4E4E4; margin-bottom: 15px;"></md-divider>
        <!-- End Header -->
        <div>
            <!-- Card HTML here -->
            <md-card style="margin: 0px; margin-bottom: 20px; height: 100%; min-height: 350px; background-color: #E4E4E4; position: relative;"
                ng-repeat="launch in launches">
                <div layout="row" flex>
                    <div flex="50">
                        <div id="map{{ $index }}" style="width: 100%; height: 100%;"></div>
                    </div>
                    <div flex="50">
                        <md-card-content>

                            <!-- Card Text and Info Here -->

                            <div layout="row">
                                <h2 class="md-headline" style="font-size: 27px; margin-top: 5px; margin-bottom:0px;">{{ launch.name }}</h2>
                                <div flex></div>
                                <mdcard style="margin-left: 20px;">
                                    <div layout="row">
                                        <div style="margin-left: 0px; margin-right: 0px; padding: 7px; background-color: #1E2528; color: #C4C4C4">Status</div>
                                        <div style="margin-left: 0px; padding: 7px; background-color: {{launch.statusColor}}; color: white">{{ launch.status }}</div>
                                    </div>
                                </mdcard>
                            </div>
                            <p>Date &amp; Time: {{ launch.windowend }}</p>
                            <p>Rocket: {{ launch.rocket.name }}</p>
                            <p>Live Stream:
                                <a ng-if="launch.vidURLs.length > 0" target="_blank" href="{{ launch.vidURLs[0] }}">{{ launch.vidURLs[0] }}</a>
                                <span ng-if="launch.vidURLs.length == 0" target="_blank" style="color: #999999;">
                                    <i>Not Available.</i>
                                </span>
                            </p>

                            <md-divider style="margin-bottom: 15px;"></md-divider>
                            <div layout="column" style="margin-bottom: 55px;" ng-if="launch.missions[0].agencies.length > 0">
                                <div ng-switch on="launch.missions[0].agencies.length">
                                    <span ng-switch-when="1" class="md-subhead">Mission Agency:</span>
                                    <span ng-switch-default class="md-subhead">Mission Agencies:</span>
                                </div>
                                <md-list class="fixedRows">
                                    <md-list-item target="_blank" ng-href="{{ agency.wikiURL }}" class="md-2-line contact-item" ng-repeat="agency in launch.missions[0].agencies">
                                        <img ng-if="agency.countryCode.length > 2" ng-src="https://api.backendless.com/2F26DFBF-433C-51CC-FF56-830CEA93BF00/473FB5A9-D20E-8D3E-FF01-E93D9D780A00/files/CountryFlagsPng/{{ agency.countryCode | lowercase | limitTo: 3 }}.png"
                                            class="md-avatar" alt="{{agency.countryCode}}" />
                                        <div class="md-list-item-text compact">
                                            <h3>{{agency.name}}</h3>
                                            <p>{{agency.countryCode}}</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                            <span ng-if="launch.missions[0].agencies == null" style="color: #999999;">
                                <i>No Mission Agency Information Available.</i>
                            </span>
                            <style>
                            .view-details-buttons::after {
                                background-color: black;
                            }
                            </style>
                            <button ng-click="ViewDetails(launch)" class="mdc-button mdc-button--raised view-details-buttons" style="padding-left: 15px; padding-right: 15px; position: absolute; bottom: 16px; right: 16px;
                            background-color: #FF9100; color: black;"><md-icon md-font-set="material-icons" style="color: #000; font-size: 28px; margin-right: 12px; padding-bottom: 6px;">
                                    dashboard </md-icon>View Details</button>

                        </md-card-content>
                    </div>
                </div>
            </md-card>
            <!-- End Card HTML -->

        </div>
    </div>
    <div flex>
    </div>
</div>