<div layout="row" style="padding-top: 10px;">
    <div flex></div>
    <div layout="column" style="width: 90%; max-width: 1280px;">
        <!-- Header -->
        <div layout="row">
            <div flex></div>
            <h1 id="homeHeader" class="md-display-2" style="color: #CACACA; margin-top: 0px; margin-bottom: 15px;">{{ launch.name }}</h1>
            <div flex></div>
        </div>
        <md-divider style="border-top-color: #E4E4E4; margin-bottom: 15px; margin-top: 0px;"></md-divider>

        <div layout="row">
            <div flex="50" layout="column" style="margin-right: 10px;">
                <md-card id="launch-overview-card" style="background-color: #E4E4E4; min-height: 100px; padding: 20px; margin: 0px; margin-bottom: 20px;">
                    <div layout="row">
                        <h2 class="md-headline" style="margin-top: 0px;">
                            <md-icon id="launch-overview-icon" md-font-set="material-icons" style="color: #000; font-size: 28px; margin-bottom: 8px; margin-right: 10px;">
                                toc </md-icon>Launch Overview</h2>
                        <div flex></div>
                    </div>
                    <div layout="row" style="margin-bottom: 15px;">
                        <span class="md-subhead">Mission Name</span>
                        <span style="margin-left: 10px;">-</span>
                        <span class="md-subhead" style="margin-left: 10px;">
                            <i>{{ launch.name }}</i>
                        </span>
                    </div>
                    <div layout="row" style="margin-bottom: 15px;">
                        <span class="md-subhead">Rocket</span>
                        <span style="margin-left: 10px;">-</span>
                        <span class="md-subhead" style="margin-left: 10px;">
                            <i>{{ launch.rocket.name }}</i>
                        </span>
                    </div>
                    <div layout="row" style="margin-bottom: 15px;">
                        <span class="md-subhead">Date &amp; Time</span>
                        <span style="margin-left: 10px;">-</span>
                        <span class="md-subhead" style="margin-left: 10px;">
                            <i>{{ launch.net }}</i>
                        </span>
                    </div>
                    <div ng-if="launch.vidURLs.length == 1" layout="row" style="margin-bottom: 15px;">
                        <span class="md-subhead">Live Stream</span>
                        <span style="margin-left: 10px;">-</span>
                        <span class="md-subhead" style="margin-left: 10px;">
                            <a target="_blank" href="{{ launch.vidURLs[0] }}">Link</a>
                        </span>
                    </div>
                </md-card>
                <md-card id="rocket-card" style="background-color: #E4E4E4; min-height: 100px; margin: 0px; margin-bottom: 20px;">
                    <div style="padding: 20px; padding-bottom: 0px;">
                        <div layout="row">
                            <h2 class="md-headline" style="margin-top: 0px;">
                                <md-icon id="launch-overview-icon" md-font-set="material-icons" style="color: #000; font-size: 28px; margin-bottom: 8px; margin-right: 10px;">
                                    change_history</md-icon>Rocket</h2>
                            <div flex></div>
                            <md-button ng-if="launch.rocket.wikiURL.length > 0" ng-href="{{ launch.rocket.wikiURL }}" style="height: 30px; margin: 0px;"
                                class="md-accent md-hue-3" target="_blank">More Info</md-button>
                        </div>
                        <div layout="row" style="margin-bottom: 15px;">
                            <span class="md-subhead">Name</span>
                            <span style="margin-left: 10px;">-</span>
                            <span class="md-subhead" style="margin-left: 10px;">
                                <i>{{ launch.rocket.name }}</i>
                            </span>
                        </div>
                        <div layout="row" style="margin-bottom: 15px;">
                            <span class="md-subhead">Family</span>
                            <span style="margin-left: 10px;">-</span>
                            <span class="md-subhead" style="margin-left: 10px;">
                                <i>{{ launch.rocket.familyname }}</i>
                            </span>
                        </div>
                        <div layout="column" style="margin-bottom: 15px;" ng-if="launch.rocket.agencies.length > 0">
                            <div ng-switch on="launch.rocket.agencies.length">
                                <span ng-switch-when="1" class="md-subhead">Agency:</span>
                                <span ng-switch-default class="md-subhead">Agencies:</span>
                            </div>
                            <md-list class="fixedRows">
                                <md-list-item target="_blank" ng-href="{{ agency.wikiURL }}" class="md-2-line contact-item" ng-repeat="agency in launch.rocket.agencies">
                                    <img ng-if="agency.countryCode.length > 2" ng-src="https://api.backendless.com/2F26DFBF-433C-51CC-FF56-830CEA93BF00/473FB5A9-D20E-8D3E-FF01-E93D9D780A00/files/CountryFlagsPng/{{ agency.countryCode | lowercase | limitTo: 3 }}.png"
                                        class="md-avatar" alt="{{agency.countryCode}}" />
                                    <div class="md-list-item-text compact">
                                        <h3>{{agency.name}}</h3>
                                        <p>{{agency.countryCode}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div layout="row" ng-if="launch.rocket.imageURL.length > 0">
                            <span class="md-subhead" style="margin-bottom: 10px;">Image:</span>
                        </div>
                    </div>
                    <img style="width: auto; max-height: 400px;" ng-src="{{launch.rocket.imageURL}}">
                </md-card>
                <md-card id="weather-card" style="min-height: 100px; margin: 0px; margin-bottom: 20px;">
                    <div layout="row" style="padding: 20px; padding-bottom: 0px;">
                        <h2 class="md-headline" style="margin-top: 0px;">
                            <md-icon id="weather-icon" md-font-set="material-icons" style="color: #000; font-size: 28px; margin-bottom: 8px; margin-right: 10px;">
                                wb_sunny </md-icon>Weather</h2>
                        <div flex></div>
                        <div layout="column">
                                <span class="md-subhead" style="color: #A4A4A4">Retrieved at {{ launch.weather.currently.localTimeString }}</span>
                                <span style="text-align: right; color: #A4A4A4; font-size: 13px;">{{ launch.weather.currently.foreignTimeString }} in {{ launch.weather.timezone }}</span>
                        </div>
                    </div>
                    <div>
                        <div id="weather-div" style="background-size: cover; height: 100%; color: white; text-shadow: 1px 2px 5px black;">
                            <style>
                                md-divider {
                                    border-top-color: #C4C4C4;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                            </style>
                            <div layout="column" style="height: 100%; text-align: center; margin: 20px; margin-top: 0px;">
                                <style>
                                    h4 {
                                        margin: 0px;
                                        text-align: left;
                                    }
                                </style>
                                <h2 class="md-display-3" style="margin: 10px; margin-top: 40px;">{{ launch.weather.currently.temperature | number: 0 }}&deg;F</h2>
                                <h3 class="md-headline" style=" margin: 0px; margin-bottom: 10px;">{{ launch.weather.currently.summary }}</h3>
                                <div>
                                    <md-divider></md-divider>
                                    <div layout="row">
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">CHANCE OF RAIN</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.precipProbability * 100 | number : 0}}%</h3>
                                        </div>
                                        <div style="width: 20px;"></div>
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">HUMIDITY</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.humidity * 100 | number : 0 }}%</h3>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="row">
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">WIND</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.windDirection }} {{ launch.weather.currently.windSpeed
                                                | number : 0 }} mph</h3>
                                        </div>
                                        <div style="width: 20px;"></div>
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">FEELS LIKE</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.apparentTemperature | number: 0 }}&deg;F</h3>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout="row">
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">DEW POINT</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.dewPoint | number: 0 }}&deg;F</h3>
                                        </div>
                                        <div style="width: 20px;"></div>
                                        <div layout="column" style="width: -webkit-fill-available; height: 50px;">
                                            <h4 class="md-subhead">CLOUD COVER</h4>
                                            <h4 class="md-title">{{ launch.weather.currently.cloudCover * 100 | number : 0 }}%</h3>
                                        </div>
                                    </div>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
            <div flex="50" layout="column" style="margin-left: 10px;">
                <md-card id="mission-card" style="background-color: #E4E4E4; min-height: 100px; padding: 20px; margin: 0px; margin-bottom: 20px;">
                    <div layout="row">
                        <h2 class="md-headline" style="margin-top: 0px;">
                            <md-icon id="mission-icon" md-font-set="material-icons" style="color: #000; font-size: 28px; margin-bottom: 8px; width: 28px; height: 28px;">
                                explore </md-icon>
                            <span>Mission</span>
                        </h2>
                        <div flex></div>
                    </div>
                    <div ng-switch on="launch.missions.length">
                        <div ng-switch-when="0">
                            <span class="md-subhead" style="margin-left: 10px;">
                                <i>No Data Available.</i>
                            </span>
                        </div>
                        <div ng-switch-default>
                            <div layout="row" style="margin-bottom: 15px;">
                                <span class="md-subhead">Name</span>
                                <span style="margin-left: 10px;">-</span>
                                <span class="md-subhead" style="margin-left: 10px;">
                                    <i>{{ launch.missions[0].name }}</i>
                                </span>
                            </div>
                            <span class="md-subhead">Description:</span>
                            <p class="md-subhead" style="margin: 20px; border-left: 4px solid #CCC; padding-left: 8px;">{{ launch.missions[0].description }}</p>
                            <div layout="column" style="margin-bottom: 15px;" ng-if="launch.missions[0].agencies.length > 0">
                                <div ng-switch on="launch.missions[0].agencies.length">
                                    <span ng-switch-when="1" class="md-subhead">Agency:</span>
                                    <span ng-switch-default class="md-subhead">Agencies:</span>
                                </div>
                                <md-list class="fixedRows">
                                    <md-list-item target="_blank" ng-href="{{ agency.wikiURL }}" class="md-2-line contact-item" ng-repeat="agency in launch.missions[0].agencies">
                                        <img ng-if="agency.countryCode.length > 2" ng-src="https://api.backendless.com/2F26DFBF-433C-51CC-FF56-830CEA93BF00/473FB5A9-D20E-8D3E-FF01-E93D9D780A00/files/CountryFlagsPng/{{ agency.countryCode | lowercase | limitTo: 3 }}.png"
                                            class="md-avatar" alt="{{agency.countryCode}}" />
                                        <div class="md-list-item-text compact">
                                            <h3>{{agency.name}}</h3>
                                            <p>{{agency.countryCode}}</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </div>
                </md-card>
                <md-card id="launch-pad-card" style="background-color: #E4E4E4; min-height: 100px; margin: 0px; margin-bottom: 20px;">
                    <div style="padding: 20px; padding-bottom: 0px;">
                        <div layout="row">
                            <h2 class="md-headline" style="margin-top: 0px;">
                                <md-icon id="launch-pad-icon" md-font-set="material-icons" style="color: #000; font-size: 28px; margin-bottom: 8px; margin-right: 10px;">
                                    flight_takeoff </md-icon>Launch Pad</h2>
                            <div flex></div>
                            <md-button ng-if="launch.location.pads[0].wikiURL.length > 0" ng-href="{{ launch.location.pads[0].wikiURL }}" style="height: 30px; margin: 0px;"
                                class="md-accent md-hue-3" target="_blank">More Info</md-button>
                        </div>
                        <div layout="row" style="margin-bottom: 15px;">
                            <span class="md-subhead">Name</span>
                            <span style="margin-left: 10px;">-</span>
                            <span class="md-subhead" style="margin-left: 10px;">
                                <i>{{ launch.location.pads[0].name }}</i>
                            </span>
                        </div>
                        <div layout="row" style="margin-bottom: 15px;">
                            <span class="md-subhead">Location</span>
                            <span style="margin-left: 10px;">-</span>
                            <span class="md-subhead" style="margin-left: 10px;">
                                <i>{{ launch.location.name }}</i>
                            </span>
                        </div>
                        <div id="launch-pad-agencies-div" layout="column" style="margin-bottom: 15px;" ng-if="launch.location.pads[0].agencies.length > 0">
                            <div ng-switch on="launch.location.pads[0].agencies.length">
                                <span ng-switch-when="1" class="md-subhead">Agency:</span>
                                <span ng-switch-default class="md-subhead">Agencies:</span>
                            </div>
                            <md-list class="fixedRows">
                                <md-list-item target="_blank" ng-href="{{ agency.wikiURL }}" class="md-2-line contact-item" ng-repeat="agency in launch.location.pads[0].agencies">
                                    <img ng-if="agency.countryCode.length > 2" ng-src="https://api.backendless.com/2F26DFBF-433C-51CC-FF56-830CEA93BF00/473FB5A9-D20E-8D3E-FF01-E93D9D780A00/files/CountryFlagsPng/{{ agency.countryCode | lowercase | limitTo: 3 }}.png"
                                        class="md-avatar" alt="{{agency.countryCode}}" />
                                    <div class="md-list-item-text compact">
                                        <h3>{{agency.name}}</h3>
                                        <p>{{agency.countryCode}}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                        <div layout="row">
                            <span class="md-subhead" style="margin-bottom: 10px">Map:</span>
                            <div flex></div>
                            <span class="md-subhead" style="margin-bottom: 10px; color: #A4A4A4">Lat: {{ launch.location.pads[0].latitude }} | Long: {{ launch.location.pads[0].longitude }}</span>
                        </div>
                    </div>
                    <div style="width: 100%; min-height: 500px; height: 100%;" id="detailsMap"></div>
                </md-card>
            </div>
        </div>
    </div>
    <div flex></div>
</div>
